%h3 Payment Item
= simple_form_for @payment_item, url: update_payment_item_admins_path do |f|
  .row{style: "margin-top:15px;"}
    .col-md-6
      = f.input :name
  .row
    .col-md-6
      = f.input :default_amount
  .row{style: "margin-top:20px;"}
    .col-md-6
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_payment_item"