= simple_form_for @spare_part_status_use, url: update_spare_part_status_use_admins_path do |f|
  .row
    .col-md-3
      = f.input :code
    .col-md-6
      = f.input :name
  .row
    .col-md-9
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_spare_part_status_use"