= simple_form_for @title, url: update_title_admins_path do |f|
  .row
    .col-md-6
      = f.input :title, input_html: {rows: 1}
  .row{style: "margin-top:20px;"}
    .col-md-6
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_title"