.row
  .col-md-12
    #grn_frame
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          Create Good Recieve Note (GRN)
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to "With Purchase Order", grn_admins_inventories_path(purchase_order: "yes"), remote: true
          %li
            = link_to "Without Purchase Order", grn_admins_inventories_path(purchase_order: "no"), remote: true