.row
  .col-md-12
    #grn_frame
      %h4 Create Good Receive Note (GRN)

      = link_to "With Purchase Order", grn_admins_inventories_path(purchase_order: "yes"), remote: true, class: "btn btn-default btn-sm"

      = link_to "With SRR", grn_admins_inventories_path(purchase_order: "yes"), remote: true, class: "btn btn-default btn-sm"

      .btn-group
        %button{type: :button, class: "btn btn-default dropdown-toggle", "data-toggle"=> "dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
          Without Purchase Order
          %span.caret
        %ul.dropdown-menu
          - Organization.stores.each do |store|
            %li= link_to store.name, grn_admins_inventories_path(purchase_order: "no", store_id: store.id), remote: true