/ .row
/   .col-md-12
/     #select_contact_persons
/       = form_tag new_customer_tickets_path, method: :get, remote: true do
/         .input-group
/           = text_field_tag "search_customer", nil, class: "form-control", placeholder: "search customer by name or contact value"
/           %span.input-group-btn
/             = submit_tag "Search", class: "btn btn-default", name: "select_customer"