- ticket = @ticket
- product = @product
- return_bundle = @return_bundle
- return_bundle_manufactures = @return_bundle_manufactures

= render "tickets/tickets_pack/deliver_bundle/deliver_bundle", return_bundle: return_bundle, return_bundle_manufactures: return_bundle_manufactures