- srn_items = @srn_items
%h2.small_scale_padding-top1 Searched SRN Items
= form_tag submit_selected_products_admins_inventories_path(store_id_with_srn: @store.id, srn_form: "yes"), method: :post, remote: true do
  / = paginate srn_items, remote: true, method: :get
  .row
    .col-md-1 No
    .col-md-1 SRN No
    .col-md-1 Brand
    .col-md-1 Product
    .col-md-1 Category
    .col-md-1 Item Code
    .col-md-2 Description
    .col-md-1 PRN No (s)
    .col-md-1 Unit
    .col-md-1 Available Qty
    .col-md-1 Action
  %hr
  #srn_item_list
    = render 'admins/inventories/prn/srns'

  / = paginate srn_items, remote: true, method: :get
  #load_more_link
    = link_to "Load more", prn_admins_inventories_path(srn: "search_srn", query: params[:query], page: (session[:page] || 2), load_more: true), remote: true
  = submit_tag "Crate PRN", :name => "done", class: "btn btn-sm btn-success btn-primary"