.row
  .col-md-12
    #prn_frame
      %h4 Create PRN

      = link_to "Create PRN", prn_admins_inventories_path(srn: "yes"), remote: true, class: "btn btn-default btn-sm"

      = link_to "Create PRN with SRN", prn_admins_inventories_path(srn: "no"), remote: true, class: "btn btn-default btn-sm"

    #main_prn