$("#modal_for_main_part").modal();

$("#modal_for_main_part .modal-body").html("#{j render 'inventories/generate_serial_no_body',products: @products, show_generate_serial_button: @show_generate_serial_button}");