%a.imager{style: "background-image: url(http://www.vsis.lk/header_crm.jpg); width: 995px; min-height: 170px; height: 100%; margin: auto;", href: "http://www.vsis.lk"}
.content{style: "width: 995px; height: 100%; margin: auto;"}
  = raw(@body)