.row.small_scale_margin-bottom1
  .col-md-3
    %strong
      %u Replaced Parts
  .col-md-3
    %strong No of Return pending events:
  .col-md-3
    %strong No of un-closed events:

.row
  .col-md-12
    %table.table.table-responsive.table-condensed.table-bordered
      %thead
        %tr
          %th No.
          %th Part No
          %th Description
          %th Req. Type
          %th Status
          %th Return Accepted
          %th Event No
          %th Event Closed
          %th Return Part
          %th Note
          %th Approved

      %tbody
        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

.row
  .col-md-12
    %fieldset
      %legend FSR

      .row
        .col-md-12
          %strong
            %u FSR Infomation

      .row
        .col-md-4
          %strong Work Started:
          xxx
        .col-md-4
          %strong Work Finished:
          xxx
        .col-md-4
          %strong FSR No:
          xxx
      .row
        .col-md-4
          %strong Hours Worked:
        .col-md-4
          %strong Down Time (Hours):
        .col-md-4
          %strong Travel:

      .row
        .col-md-12
          %strong
            %u For Invoicing
      .row
        .col-md-4
          %strong Engineer Time Travel:
          xxx
        .col-md-4
          %strong Engineer Time On-Sight:
          xxx
        .col-md-4
          %strong Resolution:

      .row
        .col-md-4
          %strong Other Charges Mileage:
        .col-md-4
          %strong Other Charges Repaires:
          xxx
        .col-md-4
          %strong level Of Completion:

      .row.small_scale_margin-bottom1
        .col-md-12
          %strong
            %u Replaced parts

      .row
        .col-md-9
          %table.table.table-responsive.table-condensed.table-bordered
            %thead
              %tr
                %th No.
                %th Part No
                %th Description
                %th Return
                %th Return Part
                %th Event No
                %th Event Closed

            %tbody
              %tr
                %td
                %td
                %td
                %td
                %td
                %td
                %td