$("#estimation_wrapper").html("#{j render 'invoice_form', invoice: @invoice, ticket: @ticket}");

Tickets.remove_ajax_loader();
Invoices.quotation_change();
Inventories.get_bank_details_invoice()
Inventories.currency_change_quatation();
$(".validate_form_i").validate();
Tickets.load_datapicker();
Tickets.product_update();
