$("#estimation_wrapper").html("#{j render 'invoice_form', invoice: @invoice, ticket: @ticket}");

Tickets.remove_ajax_loader();
Invoices.quotation_change();
Inventories.get_bank_details_invoice()

$(".validate_form_i").validate();