#contract_alert.alert.alert-success.alert-dismissable.fade.in.hide{role: "alert"}
  %button{class: "close", "aria-label" => "Close", data: {dismiss: "alert"}}
    %span &times;

  #content
= collapse_wrapper collapse_id: "contracts_form_collapse", labelledby: "contracts_form_collapse_labelledby" do
  .row
    %h3 Contracts
  = collapse collapse_type: "info", labelledby: "contracts_form_collapse_search_customers", header_content: "Search Customers", collapse_link: "contracts_form_collapse_search_customers_link", collapse_id: "contracts_form_collapse", collapse_in: "in" do
    .col-md-12#searchform
      / =render 'searchform'
      =render 'customerlist'
    .col-md-12#customerlist
  = collapse collapse_type: "info", labelledby: "contracts_form_collapse_contracts", header_content: "Contracts", collapse_link: "contracts_form_collapse_contracts_link", collapse_id: "contracts_form_collapse" do
    .col-md-12#contractlist
  = collapse collapse_type: "info", labelledby: "contracts_form_collapse_form", header_content: "Contracts Details", collapse_link: "contracts_form_collapse_form_link", collapse_id: "contracts_form_collapse" do
    / .col-md-12#contractform
    .col-md-12#contractedit