$("#selectedproducts").html("#{j render 'selected_products'}");
$("a[rel~=popover], .has-popover").popover();
- if params[:done]
  $("#product_count").val(parseInt($("#product_count").val())+parseInt("#{@cached_products.to_a.count - @before_count}"))
  $("#product_count").click()
- if params[:remove]
  $("#product_count").val(parseInt($("#product_count").val())-1)
  $("#product_count").click()


$('#productsModel').modal('hide');

$('.datepicker').datepicker({
format: "yyyy-m-dd",
todayBtn: true,
todayHighlight: true
});
