- spare_part_count = TicketSparePart.count
- spare_part = @spare_part
- id_val = @id
.row{style:"margin-right:0%;margin-left:0%;"}
  .col-md-12

    .row
      .col-md-4
        %strong All Ready-To-Bundle Parts
      .col-md-4
        %label Manufacture Name :
        = select_tag "manufacture_name", options_for_select(Manufacture.all.map { |mn| [ mn.manufacture , mn.id] }),{:prompt => " "}
      .col-md-4
        %strong Total No of Parts:
        #{spare_part_count}

    .row
      .col-md-12.table_border
        .row
          .col-md-1.col-xs-1
            No.
          .col-md-2.col-xs-2
            Date Returned
          .col-md-1.col-xs-1
            Part No
          .col-md-3.col-xs-3
            Description
          .col-md-1.col-xs-1
            Serial No
          .col-md-1.col-xs-1
            Part Status
          .col-md-1.col-xs-1
            Event No
          .col-md-1.col-xs-1
            Ticket No
          .col-md-1.col-xs-1
            "+"

        .row
          .col-md-1.col-xs-1
            001
          .col-md-2.col-xs-2
            2015-10-4
          .col-md-1.col-xs-1
            001
          .col-md-3.col-xs-3
            This is Description This is Description
          .col-md-1.col-xs-1
            001
          .col-md-1.col-xs-1
            This is Part Status
          .col-md-1.col-xs-1
            001
          .col-md-1.col-xs-1
            001
          .col-md-1.col-xs-1
            "+"
        .row
          .col-md-1.col-xs-1
            001
          .col-md-2.col-xs-2
            2015-10-4
          .col-md-1.col-xs-1
            001
          .col-md-3.col-xs-3
            This is Description This is Description
          .col-md-1.col-xs-1
            001
          .col-md-1.col-xs-1
            This is Part Status
          .col-md-1.col-xs-1
            001
          .col-md-1.col-xs-1
            001
          .col-md-1.col-xs-1
            "+"

    .row
      .col-md-4
        %strong Addded To Bundle Parts
      .col-md-4
        %strong Total No of Parts:
        #{spare_part_count}



    .row
      .col-md-12.table_border
        .row
          .col-md-1.col-xs-1
            No.
          .col-md-2.col-xs-2
            Date Returned
          .col-md-1.col-xs-1
            Part No
          .col-md-3.col-xs-3
            Description
          .col-md-1.col-xs-1
            Serial No
          .col-md-1.col-xs-1
            Part Status
          .col-md-1.col-xs-1
            Event No
          .col-md-1.col-xs-1
            Ticket No
          .col-md-1.col-xs-1
            "-"
        .row
          .col-md-1.col-xs-1
            001
          .col-md-2.col-xs-2
            2015-10-4
          .col-md-1.col-xs-1
            001
          .col-md-3.col-xs-3
            This is Description This is Description
          .col-md-1.col-xs-1
            001
          .col-md-1.col-xs-1
            This is Part Status
          .col-md-1.col-xs-1
            001
          .col-md-1.col-xs-1
            001
          .col-md-1.col-xs-1
            "-"

        .row
          .col-md-1.col-xs-1
            001
          .col-md-2.col-xs-2
            2015-10-4
          .col-md-1.col-xs-1
            001
          .col-md-3.col-xs-3
            This is Description This is Description
          .col-md-1.col-xs-1
            001
          .col-md-1.col-xs-1
            This is Part Status
          .col-md-1.col-xs-1
            001
          .col-md-1.col-xs-1
            001
          .col-md-1.col-xs-1
            "-"