//internal estimation
%strong All Estimations
%table.table.table-responsive.table-condensed.table-bordered
  %thead
    %tr
      %th No
      %th Date Requested
      %th No of Parts
      %th Parts Estimationed
      %th Addi.Estimationed
      %th Total Estimationed
      %th Min Advanced Payment
      %th Estimationed Status
      %th Action
  %tbody
    %tr
      %td Start
      %td Start
      %td Start
      %td Start
      %td Start
      %td Start
      %td Start
      %td Start
      %td Start
      %td Start

%strong Selected Estimation
%center.strong.br Status : Requested/Estimated/Closed
%center.strong Customer Approval :- /Approved/Rejected
%br Replaced Parts
%fieldset
  %legend Part No 1
  .row
    .col-md-4
    .col-md-4
      Supplier : xxxxxxxx
      %br
      Cost Price(Rs) : xxxxxxx
    .col-md-4
      %br
      %br Estimate Price(Rs) : xxxxxxx
  .row
    .col-md-12
      Part No : xxxxxxxx
  .row
    .col-md-4
      Part Description : xxxxxxxx
    .col-md-8
      Warranty Period Years : xxxxxxxx
      Months : xxxxxxxx
  .row
    .col-md-4
    .col-md-4
      Started : xxxxxxxx
    .col-md-4
      Expierd : xxxxxxxx
  .row
  .row
    .col-md-12
      %strong Requested Part
      %br
      %br
  .row
    .col-md-12
      Store : xxxxxxxx
  .row
    .col-md-12
      Item Code : xxxxxxxx
  .row
    .col-md-12
      Item Description : xxxxxxxx
  .row
    .col-md-12
      Available Qnt : xxxxxxxx
      Unit : xxxxxxxx
  .row
    .col-md-12
      Note : xxxxxxxxxxxxxxxxxxxxxxxxx
%br
%br
.row
  .col-md-4
    Additional Charges : xxxxxxxxx
  .col-md-4
    Cost Price(Rs) : xxxxxxx
  .col-md-4
    Estimate Price(Rs) : xxxxxxx
.row
  .col-md-4
  .col-md-4
    Total (Rs) : xxxxxxx
  .col-md-4
    Total (Rs) : xxxxxxx
.row
  .col-md-12
    %strong Total Estimated Price : 00.00
.row
  .col-md-4
    Mid.Advanced Payment (Rs) : xxxxxxxxx
  .col-md-4
    Advanced Payment Recieved (Rs) : xxxxxxx
.row
  .col-md-12
    Note : xxxxxxxxxxxxxxxxxxxxxxxxx
%br
%br
%br
%br
//external estimation
%strong All Estimations
%table.table.table-responsive.table-condensed.table-bordered
  %thead
    %tr
      %th No
      %th Date Requested
      %th Repaired By
      %th Estimated Price
      %th Addi.Estimated Price
      %th Total Estimated Price
      %th Min Advanced Payment
      %th Estimationed Status
      %th Action
  %tbody
    %tr
      %td Start
      %td Start
      %td Start
      %td Start
      %td Start
      %td Start
      %td Start
      %td Start
      %td Start
      %td Start
%strong Selected Estimation
%br
%br
.row
  .col-md-6
    Repaired By (Organization) : xxxxxxxxx
  .col-md-6
    %strong Status : Requested/Estimated/Closed
.row
  .col-md-6
  .col-md-6
    %strong Customer Approval : /Approved/Rejected
.row
  .col-md-12
    Cost Price(Rs) : xxxxxxx
.row
  .col-md-6
    Estimate Price(Rs) : xxxxxxx
  .col-md-6
    Profit Margin : 20%
.row
  .col-md-4
    Additional Charges : xxxxxxxxx
  .col-md-4
    Cost Price(Rs) : xxxxxxx
  .col-md-4
    Estimate Price(Rs) : xxxxxxx
.row
  .col-md-4
  .col-md-4
    Total (Rs) : xxxxxxx
  .col-md-4
    Total (Rs) : xxxxxxx
.row
  .col-md-12
    %strong Total Estimated Price : 00.00
.row
  .col-md-4
    Mid.Advanced Payment (Rs) : xxxxxxxxx
  .col-md-4
    Advanced Payment Recieved (Rs) : xxxxxxx
.row
  .col-md-12
    Warranty Start Date : xxxx
.row
  .col-md-12
    Warranty End Date : xxxx
.row
  .col-md-12
    Note : xxxxxxxxxxxxxxxxxxxxxxxxx