.row
  #product_load
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab1"} Assignments
      %li
        %a{"data-toggle" => "tab", :href => "#tab2"} Engineers Time Allocation
    .tab-content
      #tab1.tab-pane.fade.in.active
        %h1 Assignments
      #tab2.tab-pane.fade.in
        %h1 Engineers Time Allocation
