<html>
<head>
<link rel="stylesheet" href="mainpage.css" type="text/css">
</head>
<body>
<div id="main_image"></div>
<div id="add_ticket"></div>
<div id="assign_ticket"></div>
<div id="pop_approval"></div>
<div id="resolution"></div>
<div id="edit_serial_no"></div>
<div id="approve_close_ticket"></div>
<div id="invoice_advance_payment"></div>
<div id="job_estimate"></div>
<div id="return_store_part"></div>
<div id="mark_delivered_colleted"></div>
<div id="approve_job_estimate"></div>
<div id="order_part"></div>
<div id="quality_control"></div>
<div id="extend_warranty"></div>
<div id="receive_Issue_part"></div>
<div id="customer_feedback"></div>
<div id="final_job_estimate"></div>
<div id="approve_store_part"></div>
<div id="return_manufacture_part"></div>
<div id="approve_foc"></div>
<div id="bundle_return_part"></div>
<div id="part_estimate"></div>
<div id="collect_part"></div>
<div id="approve_part_estimate"></div>
<div id="close_event"></div>
<div id="issue_customer_terminate"></div>
<div id="issue_store_part"></div>
<div id="bundle_deliver"></div>

</body>
</html>