#main_image
  %h4{align: "center", style: "margin-bottom: 0;"}
    = @ticket.ticket_no.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"])
    - @ticket.ticket_engineers.group_by{ |t| t.task_description }.map { |k,v| {task_description: k}}.each do |eng|
      =eng[:task_description]

  - manufacture_parts_po_pending = @ticket.ticket_spare_parts.any? { |t| t.ticket_spare_part_manufacture.try(:po_required) and not t.ticket_spare_part_manufacture.try(:po_completed) and t.ticket_spare_part_manufacture.try(:bundled)}

  - payment_pending  = !(@ticket.cus_payment_completed or !@ticket.cus_payment_required)

  - if manufacture_parts_po_pending
    %span{style: "float: right; margin: 0; color: red;"} PO Pending

  - if payment_pending
    %h5{style: "float: right; margin: 0; color: red;"} Payment Pending

- @task_content.compact.flatten.each do |task_content|
  - task_id = task_content.to_a.flatten[0]# == "Approve Manufacture Part" ? "approve_manufacture_part" : task_content.to_a.flatten[0]
  / - task_content.to_a.flatten[0] = "approve_manufacture_part" if task_content.to_a.flatten[0] == "Approve Manufacture Part"

  %div{class: "task_box", id: task_id, title: "#{task_content.to_a.flatten[1].to_time.strftime('%Y-%b-%d %H:%M')} (#{(Date.today - task_content.to_a.flatten[1].to_date).to_i} #{'day'.pluralize((Date.today - task_content.to_a.flatten[1].to_date).to_i)})"}