- if @store
  = render "inventories/inventory_products/search_inventory"

- else

  .list-group
    - Organization.stores.each do |store|
      = link_to inv_searched_by_admins_searches_path(store_id: store.id), class: "list-group-item" do
        %h4.list-group-item-heading= store.name
        .list-group-item-text= simple_format store.description