%h4.col-md-12
  = link_to "#", class: "inline_edit", data: {type: "text", resource: "designation", name: "name", url: organization_designation_path(designation.organization, designation), "original-title" => "Update designation name"} do
    = designation.name
%em.col-md-11.small_scale_padding-left3
  = link_to "#", class: "inline_edit", data: {type: "textarea", resource: "designation", name: "description", url: organization_designation_path(designation.organization, designation), "original-title" => "Update designation name"} do
    = designation.description
%hr