- user = @user
.modal-header
  %h3.margin-none Contact Numbers - Primary details
.modal-body

  = render "contact_numbers/form", contact_number: user.contact_numbers.build
  - user.contact_numbers.primary_contactnumber.order("created_at DESC").each do |contact_number|
    = render "contact_numbers/contact_number", contact_number: contact_number
  - user.contact_numbers.nonprimary_contactnumber.order("created_at DESC").each do |contact_number|
    = render "contact_numbers/contact_number", contact_number: contact_number