$('#profile_modal').modal();
$("#profile_modal .modal-content").html("#{j render @template_params}");
Organizations.enable_chosen();
Addresses.initiate_inline_edit_address();
Users.initiate_tooltip();
Organizations.initiate_datepicker();