= select_tag "extend_warranty_select", options_for_select({"Warranty extended" => :warranty_extended, "Reject warranty extended" => :r_warranty_extended, "Edit serial no" => :edit_serial_no}), include_blank: true, data: {task_id: params[:task_id]}

#extend_warranty_frame
#warranty_grid
  = render "warranties/select_warranties", warranties: product.warranties