- if organization.department_org
  .col-md-12
    = organization.department_org.name
    = link_to "Delete", remove_department_org_organization_path(organization), method: :delete
  %hr
  %hr
.col-md-12
  = department.name