.col-md-12
  = check_box_tag "demote_org_as_dep", false, false
  = simple_form_for organization, url: demote_as_department_organization_path(organization) do |f|
    = f.input :department_org_id, collection: Organization.major_organization(organization.category).reject{|org| org.id==organization.id }
    = f.submit "Demote", class: "btn btn-success"
