%fieldset
  %legend GIN
  .row
    .col-md-12
      %strong Store: Main Store
  .row
    .col-md-3
      %strong GIN No
    .col-md-3
      %strong GIN Date
    .col-md-3
      %strong Created By
    .col-md-3
      %strong Created At
  .row
    .col-md-12
      %strong Remarks

%h4.strong GIN Items
/ each loop goes here

/ if batch
%fieldset
  %legend No
  .row
    .col-md-4
      %strong Item Code
    .col-md-4
      %strong Item Description
    .col-md-4
      %strong Requested Quantity
  .row
    .col-md-4
      %strong Issued Quantity
    .col-md-4
      %strong Unit
    .col-md-4
      %strong SRN Remarks
  .row
    .col-md-3
      %strong Balance Qty To Be Issued
    .col-md-3
      %strong Stock In Hand
    .col-md-6
      %strong Remarks
  .row
    .col-md-4
      %strong Rack
    .col-md-4
      %strong Shelf
    .col-md-4
      %strong Bin

  .row
    .col-md-12
      / each loop goes here
      
      %fieldset
        %legend Batch
        .row
          .col-md-3
            %strong Lot No
          .col-md-3
            %strong Manufatured Date
          .col-md-3
            %strong Issue Quantity
          .col-md-3
            %strong Batch No
        .row
          .col-md-3
            %strong Expiry Date
          .col-md-3
            %strong Available Quantity
          .col-md-9
            %strong Remarks
        .row
          .col-md-12
            / each loop goes here
            %fieldset
              %legend Warranty
              .row
                .col-md-3
                  %strong Type
                .col-md-3
                  %strong Start At
                .col-md-3
                  %strong End At
                .col-md-3
                  %strong Period Part
              .row
                .col-md-3
                  %strong Period Labour
                .col-md-3
                  %strong Period On-Sight
                .col-md-6
                  %strong Remarks

/ if serial item
%fieldset
  %legend No
  .row
    .col-md-3
      %strong Item Code
    .col-md-3
      %strong Item Description
    .col-md-3
      %strong Requested Quantity
  .row
    .col-md-3
      %strong Issued Quantity
    .col-md-3
      %strong Recieved Unit
    .col-md-3
      %strong Balance Qty To Be Issued
  .row
    .col-md-3
      %strong Rack
    .col-md-3
      %strong Shelf
    .col-md-3
      %strong Bin
  .row
    .col-md-3
      %strong Stock In Hand
    .col-md-9
      %strong Remarks
  .row
    .col-md-12
      / each loop goes here serial item
      
      %fieldset
        %legend Serial Item
        .row
          .col-md-4
            %strong Serial No
          .col-md-4
            %strong Manufatured Date
          .col-md-4
            %strong CT No
        .row
          .col-md-4
            %strong Expiry Date
          .col-md-4
            %strong Condition
          .col-md-4
            %strong Scavange
        .row
          .col-md-4
            %strong Parts Not Completed
          .col-md-4
            %strong Damage
          .col-md-4
            %strong Used
        .row
          .col-md-4
            %strong Repaired
          .col-md-4
            %strong Reserved
          .col-md-4
            %strong Remarks

        .row
          .col-md-12
            / each loop goes here
            %fieldset
              %legend Warranty
              .row
                .col-md-3
                  %strong Type
                .col-md-3
                  %strong Start At
                .col-md-3
                  %strong End At
                .col-md-3
                  %strong Period Part
              .row
                .col-md-3
                  %strong Period Labour
                .col-md-3
                  %strong Period On-Sight
                .col-md-6
                  %strong Remarks