.row
  .col-md-12
    %strong
      %u Alert 2

.row
  .col-md-4
    %strong supplyer:

  .col-md-4
    %strong cost (Rs):

  .col-md-4
    %strong estimate (Rs):

  .col-md-4.col-md-offset-8
    %strong profit margin :

.row
  .col-md-4
    %strong Warranty Period:

  .col-md-4
    %strong Min. Advance Payment (Rs):
    #{estimation.approved_adv_pmnt_amount}

.row.small_scale_margin-bottom1
  .col-md-4
    %strong Note :
    #{estimation.note}