.row
  #permission_list
    {{#rpermissions}}
    .col-md-4
      .panel.panel-info
        .panel-heading {{resource}}
        .panel-body
          {{#value}}
          .checkbox
            %label
              <input value={{id}} id="rpermission_{{id}}" name="rpermissions[]" type="checkbox" {{checked}} />
              {{name}}
          {{/value}}
    {{/rpermissions}}