= simple_form_for @new_accessory, url: create_accessory_tickets_path(status_param: "create"), method: :post, remote: true do |f|
  %fieldset
    %legend Create new accessory
    .row
      = f.input :accessory, as: :string, wrapper_html: {class: "col-md-7"}
    = link_to "Back", create_accessory_tickets_path(status_param: "back"), remote: true, method: :post, data: {disable_with: "Please wait..."}
    = f.submit "Save", class: "btn btn-success", data: {disable_with: "Please wait..."}