.row
  .col-md-1
    %strong No
  .col-md-1
    %strong Event No
  .col-md-1
    %strong Order No
  .col-md-1
    %strong Event Closed Date
  .col-md-1
    %strong Parts Ordered Date
  .col-md-1
    %strong Part No
  .col-md-1
    %strong Amount
  .col-md-1
    %strong Description
  .col-md-2
    %strong Note
  .col-md-1
    %strong Ticket No
  .col-md-1
    %strong Serial No
%hr
#sparepart_list{data: {addedcount: 1}}
  {{#spare_parts}}
  %div{ id: "addclick_function_{{part_no}}"}

    .row
      .extra_info_above
        .col-md-1.now_item_default {{index}}
        .col-md-1 {{event_no}}
        .col-md-1 {{order_no}}
        .col-md-1 {{event_closed_date}}
        .col-md-1 {{parts_ordered_date}}
        .col-md-1 {{part_no}}
        .col-md-1
          {{currency_code}}
          %span.now_amount_default {{amount}}
        .col-md-1.now_class {{spare_part_description}}
        .col-md-2
          <a href="#" class="has-popover" data-content="{{{note}}}" data-placement="bottom" data-toggle="popover" data-html="true" "title"="this is sample text">View Note</a>

        .col-md-1 {{ticket_no}}
        .col-md-1 {{serial_no}}
      .col-md-1
        <a href="#" onclick="Tickets.hp_po_add('{{ticket_id}}','{{part_id}}', this); return false;" data-value="{{part_no}}" id="add_{{part_no}}">add</a>
    %hr

  {{/spare_parts}}