%br
.row
  .col-md-12
    %strong General
.row
  .col-md-4
    01.Restart and test the machine?
.row
  .col-md-4
    02.Last time saw the problem
%br
.row
  .col-md-12
    %strong Problem specific
.row
  .col-md-4
    01.Restart and test the machine?
.row
  .col-md-4
    02.Last time saw the problem
