$("#{@rendering_dom}").html("#{j render @render_template, @variables}");
Tickets.remove_ajax_loader();

Tickets.product_update();

$("a[rel~=popover], .has-popover").popover();

Tickets.activity_history_live_search();

Organizations.enable_chosen();