$("#{@rendering_dom}").html("#{j render @render_template, @variables}");
Tickets.remove_ajax_loader();

Tickets.product_update();

$('#remarks_popover').popover('data-html="ture"');

Tickets.bind_mCustomScrollbar();