$("#resolution_templates").html("#{j render 'tickets/tickets_pack/resolution/'+@call_template, ticket: @ticket}");
Tickets.load_datapicker();

Tickets.validate_start_action();

Tickets.action_taken_text();

Tickets.hp_case_validation();

Tickets.job_finished_validation();

Tickets.select_fsr();

Users.update_create_fsr();

Tickets.numbersonly();

Tickets.suggestion_data();

Inventories.disable_store();

Inventories.checked_quality_control();

Inventories.checked_add_update_radio_for_bundle();

Inventories.checked_add_update_radio_for_items();

Inventories.checked_add_update_radio_for_parts();

Inventories.disable_part();

Inventories.submit_spare_part();

Tickets.display_description_ticket_on_load_spare_part();

Inventories.submit_on_loan_spare_part();

Tickets.remove_ajax_loader();

Tickets.assign_value_to_select();

Tickets.initial_loaders();

$(".validate_form").validate();

- if params[:call_template]=="edit_fsr"
	Warranties.control_datetime_fsr();