$("#resolution_templates").html("#{j render 'tickets/tickets_pack/resolution/'+@call_template, ticket: @ticket}");
Tickets.load_datapicker();

Tickets.validate_start_action();

Tickets.action_taken_text();

Tickets.hp_case_validation();

Tickets.job_finished_validation();

Tickets.select_fsr();

Users.update_create_fsr();

Tickets.numbersonly();

Tickets.suggestion_data();