- if @new_contact_person1
  $("#contact_person").html("#{j render 'tickets/create_contact_persons', contact_person: @new_contact_person1}");
- elsif @new_contact_person2
  $("#contact_person").html("#{j render 'tickets/create_contact_persons', contact_person: @new_contact_person2}");
- else
  $("body").removeClass("modal-open");
  $(".modal-backdrop").remove();
  $("#form_frame").html("#{j render 'tickets/new_contact_persons', ticket: @ticket}");

Tickets.select_contact_person();
Tickets.product_update();