- if params[:status_param] == "initiate" or (@new_accessory and @new_accessory.errors.present?)
  $("#form_frame").html("#{j render 'tickets/accessory'}");
- elsif params[:status_param] == "create" or params[:status_param] == "back"
  $("#product_load").html("#{j render 'tickets/form', product: @product, ticket: @ticket}");

Organizations.enable_chosen();


/ Tickets.regional_support_job_active();

/ Tickets.remove_serial_search();
/ setTimeout(function(){
/ alert("called");
/ }, 200);
$('#new_ticket').sisyphus();