$("#form_id_invoice_po").html("#{j render 'invoice_items_view' ,so_po_id: @so_po_id, invoice: @invoice, invoice_all: @invoice_all}");

$("#so_po_id").val("#{params[:po_id]}");

Tickets.initial_loaders();