- if params[:search_sla]
  $("#render_sla").html("#{j render 'render_sla', slas: @slas}");
- else
  $("#toggle_sla").modal();
  $("#toggle_sla .modal-content").html("#{j render 'select_sla'}");
  $("#render_sla").html("#{j render 'render_sla', slas: @slas}");

  Tickets.search_sla();