$("#contact_person").modal();
$("#contact_person .modal-content").html("#{j render 'tickets/select_contact_persons', contact_persons: @contact_persons, search_contact_person: @search_contact_person}");