%fieldset
  %legend Create FSR
  .form_group
    .row
      .col-md-12      
        %label.col-sm-10.control-label FSR No: A123
        .col-sm-2
          .checkbox
          %label
            %input{:type => "checkbox"}
              Print FSR