%fieldset
  %legend Deliver Unit
  .row
    .col-md-6
      .form-group
        %label.col-sm-6.control-label Delivery Date Time:
    .col-md-6
      .form-group
        %label.col-sm-6.control-label Deliver To:
  %br
  .row
    .col-md-6
      .form-group
        %label.col-sm-4.control-label Delivery Note
        .col-sm-8
          %textarea.form-control{:rows => "3"}