%fieldset
  %legend Hold
  = simple_nested_form_for ticket, url: update_hold_ticket_path(ticket), method: :post do |f|
    = f.input :remarks, input_html: {value: nil}
    = simple_format ticket.remarks
    = f.submit "Save", class: "btn btn-success btn-sm"

