%fieldset
  %legend Hold
  .form-group
    .row
      .col-md-6
        %label.col-sm-4.control-label Hold Reason
        .col-sm-5
          .dropdown
          %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
            %li
              %a{:href => "#"} xxxxxxxxxx
            %li
              %a{:href => "#"} xxxxxxxxxx
            %li
              %a{:href => "#"} xxxxxxxxxx
            %li
              %a{:href => "#"} xxxxxxxxxx
        / %label.col-sm-3.control-label SLA Paused

