%fieldset
  %legend HP Case ID
  .row
    .col-md-6
      .form-group
        %label.col-sm-4.control-label Case ID
        .col-sm-4
          %input#exampleInputName2.form-control{:type => "text"}
  %br
  .row
    .col-md-6
      .form-group
        %label.col-sm-4.control-label Case Note
        .col-sm-7
          %textarea.form-control{:rows => "3"}