%fieldset
  %legend Recieve Unit
  .row
    .col-md-6
      .form-group
        %label.col-sm-6.control-label Unit Collected Date Time:
    .col-md-6
      .form-group
        %label.col-sm-6.control-label Unit Collected By:
  %br
  .row
    .col-md-6
      .form-group
        %label.col-sm-4.control-label Recieved Note
        .col-sm-8
          %textarea.form-control{:rows => "3"}