%fieldset
  %legend Request On Loan Spare Part
  .row
    .col-md-6
      .form-group
        %label.col-sm-4.control-label Spare Part No
        .col-sm-5
          .dropdown
          %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
            %li
              %a{:href => "#"} xxxxxxxxxx
            %li
              %a{:href => "#"} xxxxxxxxxx
            %li
              %a{:href => "#"} xxxxxxxxxx
            %li
              %a{:href => "#"} xxxxxxxxxx
    .col-md-6
      Store : xxxxxxxx
      %br
      Item Code : xxxxxxxx
  %br
  .row
    .col-md-6
      %strong Part Description : xxxxxxxx
    .col-md-6
      Item Description : xxxxxxxx
  .row
    .col-md-6
      .form-group
        %label.col-sm-4.control-label Note
        .col-sm-7
          %textarea.form-control{:rows => "2"}
    .col-md-6
      Model No : xxxxxxxx
      Product No : xxxxxxxx
      Part No : xxxxxxxx
      %br
      Available Qunt : xxxxxxxx
      Unit : xxxxxxxx