%fieldset
  %legend Request Spare Part
  .row
    .col-md-6
      .form-group
        %label.col-sm-4.control-label FSR No
        .col-sm-5
          .dropdown
          %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
            %li
              %a{:href => "#"} xxxxxxxxxx
            %li
              %a{:href => "#"} xxxxxxxxxx
            %li
              %a{:href => "#"} xxxxxxxxxx
            %li
              %a{:href => "#"} xxxxxxxxxx
  %br
  .row
    .col-md-6
      .form-group
        %label.col-sm-4.control-label Spare Part No
        .col-sm-7
          %input#exampleInputName2.form-control{:type => "text"}
    .col-md-6
      .col-md-7
        .checkbox
        %label
          %input{:type => "checkbox"}
            Customer Chargeable Part(Non Warranty)
      
  %br
  .row
    .col-md-6
      .form-group
        %label.col-sm-4.control-label Spare Part Discription
        .col-sm-2
          .dropdown
          %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
            %li
              %a{:href => "#"} xxxxxxxxxx
            %li
              %a{:href => "#"} xxxxxxxxxx
            %li
              %a{:href => "#"} xxxxxxxxxx
            %li
              %a{:href => "#"} xxxxxxxxxx
    .col-md-6
      .radio
        %label
          %input#optionsRadios1{:checked => "", :name => "optionsRadios", :type => "radio", :value => "option1"}
            Request From Store
          %input#optionsRadios2{:checked => "", :name => "optionsRadios", :type => "radio", :value => "option1"}
            Request From Warranty(Manufacture)
  %br
  .row
    .col-md-6
      .form-group
        %label.col-sm-4.control-label Faulty Serial No
        .col-sm-7
          %input#exampleInputName2.form-control{:type => "text"}
    .col-md-6
      .checkbox
      %label
        %input{:type => "checkbox"}
          Part of a Main Product
  %br
  .row
    .col-md-6
      .form-group
        %label.col-sm-4.control-label Faulty CT No
        .col-sm-7
          %input#exampleInputName2.form-control{:type => "text"}
    .col-md-6
      Store : xxxxxxxx
      %br
      Item Code : xxxxxxxx
  %br
  .row
    .col-md-6
      .form-group
        %label.col-sm-4.control-label Note
        .col-sm-7
          %textarea.form-control{:rows => "2"}
    .col-md-6
      Item Description : xxxxxxxx
      %br
      Model No : xxxxxxxx
      Product No : xxxxxxxx
      %br
      Available Qunt : xxxxxxxx
      Unit : xxxxxxxx
      Part No : xxxxxxxx
