%fieldset
  %legend Resolved Jobs (Finished Jobs)
  .form-group
    .row
      .col-md-12
        %label.col-sm-2.control-label Finished Date time : 
        %label.col-sm-6.control-label YYYY/MM/DD HH:MM 

    %br
    .row
      .col-md-12
        %label.col-sm-2.control-label Resolution
        .col-sm-10
          %textarea.form-control{:rows => "2"}