#contract_alert.alert.alert-success.alert-dismissable.fade.in.hide{role: "alert"}
  %button{class: "close", "aria-label" => "Close", data: {dismiss: "alert"}}
    %span &times;

  #content
.row.small_scale_padding-top1
  .container
    = collapse_wrapper collapse_id: "contracts_form_collapse", labelledby: "contracts_ticket_form_collapse_labelledby" do
      = collapse collapse_type: "info", labelledby: "contract_ticket_form_collapse_search_customers", header_content: "Search Customers", collapse_link: "contracts_ticket_form_collapse_search_customers_link", collapse_id: "contracts_form_collapse", collapse_in: "in" do
        %h4 Search Customer
        .col-md-12#searchform
          = render "customer_product/customerlist", from_where: "cus_product"
          / = render "contracts/customerlist", from_where: "new_ticket"
        .col-md-12#customerlist
      = collapse collapse_type: "info", labelledby: "contracts_ticket_form_collapse_contracts", header_content: "Products", collapse_link: "contracts_ticket_form_collapse_contracts_link", collapse_id: "contracts_form_collapse" do
        .col-md-12#contractlist