- if @display_form_for_pop
  $("#form_frame").html("#{j render 'warranty_form', warranty: @warranty, display_form_for_pop: @display_form_for_pop, product_id: @product.id}");
  $("#new_warranty_link").addClass("hide");
  Warranties.update_datepicker();
  Warranties.disabled_datepicker();
- elsif @select_for_pop
  $("#form_frame").html("#{j render 'select_warranties', warranties: @warranties}");
  $("#new_warranty_link").removeClass("hide");
- else
  $("#form_frame").html("#{j render 'form', customer: @customer, ticket: @ticket, display_form_for_pop: @display_form_for_pop}");

Tickets.load_datapicker();
- if(@display_form)
  Warranties.update_datepicker();
  Warranties.disabled_datepicker();
Tickets.product_update();
Tickets.disable_inline();
Warranties.numbersonly();
QAndAs.coloring_row();