$("#form_frame").html("#{j render 'form', customer: @customer, ticket: @ticket}");
Tickets.load_datapicker();
- if(@display_form)
  Warranties.update_datepicker();
  Warranties.disabled_datepicker();
