.row.todo_loaded_mustache
  {{#response_array}}
  .col-md-3
    {{#ticket}}
    {{header}}
    %table.table
      %tbody
        %tr
          %td Ticket No:
          %td {{ticket_no}}
    {{/ticket}}
  .col-md-3
    {{#ticket_engineer}}
    {{header}}
    %table.table
      %tbody
        %tr
          %td Full Name:
          %td {{full_name}}
    {{/ticket_engineer}} 
  .col-md-3
    {{#ticket_spare_part}}
    {{header}}
    %table.table
      %tbody
        %tr
          %td Spare Part No:
          %td {{spare_part_no}}
    {{/ticket_spare_part}}
  .col-md-3
    {{#ticket_on_loan_spare_part}}
    {{header}}
    %table.table
      %tbody
        %tr
          %td Request At:
          %td {{requested_at}}
    {{/ticket_on_loan_spare_part}}
  .col-md-3
    {{#ticket_estimation}}
    {{header}}
    %table.table
      %tbody
        %tr
          %td Estimation At:
          %td {{estimation_at}}
    {{/ticket_estimation}}
  {{/response_array}}

