.row
  .col-md-3.col-xs-3.strong
    No
  .col-md-3.col-xs-3.strong
    Event No
  .col-md-3.col-xs-3.strong
    Ticket No

{{#.}}
.row
  .col-md-3.col-xs-3
    {{id}}
  .col-md-3.col-xs-3
    {{event_no}}
  .col-md-3.col-xs-3
    {{ticket_no}}
  .col-md-3.col-xs-3
    %a{ href: "#", onclick: "Inventories.load_mustache_bundle_return_part('{{task_action}}', {{id}}); return false;"}
      {{task_action}}
{{/.}}