.row{style: "margin-bottom: 15px;"}
  %strong Bundle
.row

  <div class="table-responsive" style="height: 110px; overflow-y: auto;">
  <table class="table table-bordered">
  <thead>
  <tr>
  <th>No</th>
  <th>Date bundled</th>
  <th>Bundled No</th>
  <th>Bundled by</th>
  <th>actions</th>
  </tr>
  </thead>
  <tbody>
  {{#.}}
  %tr
    %td
      {{indexer}}
    %td
      {{date_bundled}}
    %td
      {{bundled_no}}
    %td
      {{bundled_by}}
    %td
      %a{href: "#", onclick: "Inventories.load_mustache_bundle_return_part('load_bundled_manufactures', {{id}}); return false;"}
        select
  {{/.}}
  </tbody>
  </table>
  </div>