.col-md-4.col-xs-4
  %strong Bundle
.col-md-8.col-xs-8
  %p Manufacture Name:
.col-md-12.col-xs-12
  %table.table.table-hover
    %thead
      %tr
        %th No
        %th Date bundled
        %th Bundled No
        %th Bundled by
        %th
    %tbody
      {{#.}}
      %tr
        %th
          {{no}}
        %td
          {{date_bundled}}
        %td
          {{bundled_no}}
        %td
          {{bundled_by}}
        %td
          %a{href: "#", onclick: "Inventories.load_mustache_bundle_return_part('load_bundled_manufactures', {{id}}); return false;"}
            select
      {{/.}}

