.child-level {
  li {
    a {
      padding: 10px 5px 10px 25px;
    }
  }
}
.with_submenu {
  > a {
    display: inline-block !important;
    &.dropdown-label {
      width: 73%;
    }
  }
}
.text-decor {
  font-weight: bold;
  color: white;
  -moz-text-shadow:2px 2px 2px black;
  -webkit-text-shadow:2px 2px 2px black;
  text-shadow:2px 2px 2px black;
}