// for sticky footer style

body, html {
  height: 100%;
}
.main-content {
  min-height: 91.15%;
  margin: 0 auto -65px;
}

footer, .push {
  height: 65px;
}

/****************/

textarea{
  resize: none;
}

@for $index from 0 through 10 {
  .small_scale_padding#{$index} {
    padding: ($index * 1%) !important;
  }
  .small_scale_padding-left#{$index} {
    padding-left: ($index * 1%) !important;
  }
  .small_scale_padding-top#{$index} {
    padding-top: ($index * 1%) !important;
  }
  .small_scale_padding-bottom#{$index} {
    padding-bottom: ($index * 1%) !important;
  }
  .small_scale_padding-right#{$index} {
    padding-right: ($index * 1%) !important;
  }
  .small_scale_margin-left#{$index} {
    margin-left: ($index * 1%) !important;
  }
  .small_scale_margin-top#{$index} {
    margin-top: ($index * 1%) !important;
  }
  .small_scale_margin-bottom#{$index} {
    margin-bottom: ($index * 1%) !important;
  }
  .small_scale_margin-right#{$index} {
    margin-right: ($index * 1%) !important;
  }
  .small_scale_margin#{$index} {
    margin: ($index * 1%) !important;
  }
}

.fixed{
  overflow: auto;
  @for $index from 0 through 64 {
    .span#{$index} {
      width: ($index * 20px) !important;
      margin-right: 5px;
      margin-left: 0;
    }
    .margin-top#{$index} {
      margin-top: ($index * 5px) !important;
    }
    .margin-bottom#{$index} {
      margin-bottom: ($index * 5px) !important;
    }
    .padding-left#{$index} {
      padding-left: ($index * 5px) !important;
    }
    .border-left#{$index} {
      border-left: ($index * 1px) solid grey;
    }
    .padding-right#{$index} {
      padding-right: ($index * 5px) !important;
    }
    .padding-top#{$index} {
      padding-top: ($index * 5px) !important;
    }
    .padding-bottom#{$index} {
      padding-bottom: ($index * 5px) !important;
    }
    .padding#{$index} {
      padding: ($index * 5px) !important;
    }
  }

  @for $index from 0 through 10 {
    .small_scale_padding#{$index} {
      padding: ($index * 1px) !important;
    }
    .small_scale_padding-left#{$index} {
      padding-left: ($index * 1px) !important;
    }
    .small_scale_padding-top#{$index} {
      padding-top: ($index * 1px) !important;
    }
    .small_scale_padding-bottom#{$index} {
      padding-bottom: ($index * 1px) !important;
    }
    .small_scale_padding-right#{$index} {
      padding-right: ($index * 1px) !important;
    }
    .small_scale_margin-left#{$index} {
      margin-left: ($index * 1px) !important;
    }
    .small_scale_margin-top#{$index} {
      margin-top: ($index * 1px) !important;
    }
    .small_scale_margin-bottom#{$index} {
      margin-bottom: ($index * 1px) !important;
    }
    .small_scale_margin-right#{$index} {
      margin-right: ($index * 1px) !important;
    }
  }
}

@for $index from 0 through 12 {  
  .text#{$index}{
    font-size: ($index * 0.25em) !important;
    line-height: ($index * 0.25em * 1.5) !important;
  }
}

@for $index from 0 through 20 {
  .padding#{$index}{
    padding: (5% * $index) !important;
  }
  .border#{$index} {
    border: ($index * 1px) solid #ccc;
  }
  .padding-left#{$index}{
    padding-left: (5% * $index) !important;
  }
  .padding-right#{$index}{
    padding-right: (5% * $index) !important;
  }
  .padding-top#{$index}{
    padding-top: (5% * $index) !important;
  }
  .padding-bottom#{$index}{
    padding-bottom: (5% * $index) !important;
  }
  .min-width#{$index}{
    min-width: ($index * 64px);
  }
  .min-height#{$index}{
    min-height: ($index * 5px) !important;
  }
  .margin-top#{$index} {
    margin-top: ($index * 5%) !important;
  }
  .border-right#{$index} {
    border-right: ($index * 1px) solid #ccc;
  }
  .border-top#{$index} {
    border-top: ($index * 1px) solid #ccc;
  }
  .border-bottom#{$index} {
    border-bottom: ($index * 1px) solid #ccc;
  }
  .border-left#{$index} {
    border-left: ($index * 1px) solid #ccc;
  }
}


.strong{
  font-weight: bold;
}
.italic{
  font-style: italic;
}

.red{
  color: red;
}
.blue{
  color: blue;
}
.light-blue{
  color: #00679E;
}
.white{
  color: white;
}

.margin-none{
  margin: 0 !important;
}
.white-background{
  background-color: white;
  color: black;
  overflow: auto;
  padding: 3px;
}
.blue-border{
  border: solid 1px #BFCFE2;
}
.element-center{
  margin: auto !important;
}
.remove-float{
  float: none !important;
}
#error_explanation{
  background-color: #FFC0CB;
  display: block;
  overflow: auto;
  padding: 5px;
  border: 1px solid red;
}
.text-justify{
  text-align: justify;
}
.text-center{
  text-align: center;
}
.margin-auto{
  margin: auto !important;
}
.text-hide-for-image{
  font-size: 0;
  line-height: 0;
}
fieldset{
  border: 1px solid #dddddd;
  margin: 1rem 0;
  padding: 1.11111rem;
  legend {
    background: none repeat scroll 0 0 white;
    font-weight: bold;
    margin: 0 0 0 -0.16667rem;
    padding: 0 0.16667rem;
    width: auto;
    border: none;
  }
}