// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
     float: none !important;
     margin-left: auto;
     margin-right: auto;
}

.button{
  display:block;
  width:100%;
}


.text-hide {
  line-height: 0;
  font-size: 0;
}

.navbar-nav {
  .nav-icon {
    padding-left: 20px;
    background-color: transparent;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  } 
  .organization {
    background-image: image-url('configuration-white.png');
  }

  .supplier {
    background-image: image-url('supplier.png');
  }

  .customers {
    background-image: image-url('customers.png');
  }
  .tickets {
    background-image: image-url("ticket.png");
  }
  .me {
    background-image: image-url('me-white.png');
  }
}

