.ticket_list {
  position: relative;
  .invisible_icons {
    position: absolute;
    right: -35px;
    width: 35px;
    height: 101.5%;
    top: -1px;
    display: none;
    .icons {
      width: 20px;
      height: 20px;
      margin: auto;
      background-position: center center;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 10px;
    }
    .ticket_merge {
      background-image: url('ticket_merge.png');
    }
    .ticket_pick {
      background-image: url('ticket_pick.png');
    }
    .ticket_print {
      background-image: url('icon_print.png');
    }
  }
  &:hover {
    .invisible_icons {
      display: block;
    }
  }
}

.ticket_icons {
  img {
    width: auto;
  }
}
.morectnt span {
  display: none;
}
.word_wrap {
    width: 100%; 
    word-wrap: break-word;
}

.radio_buttons input[type='radio'] {
  float: none;
  margin: 0;
}

.add_sign {
  clear: right;
  float: right;
  padding-top: 30px;
  width: 13px;
}