.ticket_list {
  position: relative;
  .invisible_icons {
    position: absolute;
    right: -35px;
    width: 35px;
    height: 101.5%;
    top: -1px;
    display: none;
    .icons {
      width: 20px;
      height: 20px;
      margin: auto;
      background-position: center center;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 10px;
    }
    .ticket_merge {
      background-image: url('ticket_merge.png');
    }
    .ticket_pick {
      background-image: url('ticket_pick.png');
    }
    .ticket_print {
      background-image: url('icon_print.png');
    }
  }
  &:hover {
    .invisible_icons {
      display: block;
    }
  }
}

.ticket_icons {
  img {
    width: auto;
  }
}
.morectnt span {
  display: none;
}
.word_wrap {
    width: 100%; 
    word-wrap: break-word;
}

.add_sign {
  clear: right;
  float: left;
  padding-top: 30px;
  width: 13px;
}
.radio_buttons {
  .input-append {
    .radio-inline:first-child {
      padding-left: 0;
    }
  }
}
.input-append {
  .checkbox {
    margin-top: 0;
  }
}
.accessory_links {
  float: left;
  display:inline-block;
}

.editable-click, a.editable-click{
  border:none;
}

.page.current{
  float: left;
  padding: 6px 12px;
}

.pop_note_created_by{
  color: #A4A4A4;
  font-size: 90%;
  font-style: italic;
}

.pop_note_e_time{
  color: #A4A4A4;
  font-size: 90%;
  font-style: italic;
}

.load_more{
  display: inline;
  float: left;
  padding-top: 0;
}

.load_style{
  display: inline;
  float: left;
}
.ticket_warranty_type{
  padding: 0;
}

.btn{
  padding: 4px 12px;
}