.to_do_list_link {
  display: block;
  overflow: auto;
  &:hover {
    -webkit-box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.74);
    -moz-box-shadow:    3px 3px 4px 0px rgba(50, 50, 50, 0.74);
    box-shadow:         3px 3px 4px 0px rgba(50, 50, 50, 0.74);
  }
}

#to_do_tab {
  .panel-primary {
    a {
      color: white;
    }
  }
}

.todo_url {
  color: black;
  &:hover {
    color: black;
  }
}