#workflow_diagram {
  img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
  }
  #main_image{
    position: absolute;
    background-image: url("Support_Ticket_Active_workflow_new.jpg");
    z-index: -1;
    background-size:1365px 707px;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
    margin: 0;
    width: 1365px;
    height: 707px;
  }
  .task_box {
    position: absolute;
    padding: 11px;
    border-radius: 9px;
    border: 3px solid red;
    margin: 0;
    z-index:1;

  }

  #add_ticket{
    top: 8px;
    left: 96px;
    width: 61px;
    height: 15px;
  }
  #assign_ticket{
    top: 142px;
    left: 96px;
    width: 62px;
    height: 15px;
  }
  #pop_approval{
    top: 296px;
    left: 98px;
    width: 61px;
    height: 16px;
  }
  #resolution{
    top: 228px;
    left: 224px;
    width: 61px;
    height: 16px;
  }
  #edit_serial_no{
    top: 297px;
    left: 225px;
    width: 60px;
    height: 16px;
  }
  #approve_job_estimate{
    top: 78px;
    left: 395px;
    width: 61px;
    height: 15px;
  }
  #approve_close_ticket{
    top: 292px;
    left: 398px;
    width: 62px;
    height: 18px;
  }
  #invoice_advance_payment{
    top: 368px;
    left: 400px;
    width: 61px;
    height: 17px;
  }
  #job_estimate{
    top: 445px;
    left: 400px;
    width: 63px;
    height: 15px;
  }
  #return_store_part{
    top: 516px;
    left: 401px;
    width: 62px;
    height: 16px;
  }
  #mark_delivered_colleted{
    top: 577px;
    left: 401px;
    width: 62px;
    height: 16px;
  }
  #approve_manufacture_part{
    top: 79px;
    left: 570px;
    width: 61px;
    height: 15px;
  }
  #order_part{
    top: 292px;
    left: 573px;
    width: 61px;
    height: 16px;
  }
  #quality_control{
    top: 655px;
    left: 575px;
    width: 61px;
    height: 16px;
  }
  #extend_warranty{
    top: 77px;
    left: 718px;
    width: 62px;
    height: 16px;
  }
  #receive_Issue_part{
    top: 294px;
    left: 718px;
    width: 62px;
    height: 16px;
  }
  #customer_feedback{
    top: 370px;
    left: 718px;
    width: 61px;
    height: 16px;
  }
  #final_job_estimate{
    top: 450px;
    left: 720px;
    width: 61px;
    height: 16px;
  }
  #approve_store_part{
    position: absolute;
    top: 78px;
    left: 854px;
    width: 61px;
    height: 17px;
  }
  #return_manufacture_part{
    top: 294px;
    left: 854px;
    width: 62px;
    height: 18px;
  }
  #approve_foc{
    top: 80px;
    left: 1032px;
    width: 61px;
    height: 16px;
  }
  #bundle_return_part{
    top: 294px;
    left: 1033px;
    width: 61px;
    height: 15px;
  }
  #part_estimate{
    top: 447px;
    left: 1037px;
    width: 57px;
    height: 16px;
  }
  #collect_part{
    top: 582px;
    left: 1034px;
    width: 61px;
    height: 15px;
  }
  #approve_part_estimate{
    top: 76px;
    left: 1216px;
    width: 62px;
    height: 14px;
  }
  #close_event{
    top: 289px;
    left: 1218px;
    width: 63px;
    height: 15px;
  }
  #issue_customer_terminate{
    top: 371px;
    left: 1219px;
    width: 63px;
    height: 15px;
  }
  #issue_store_part{
    top: 510px;
    left: 1222px;
    width: 63px;
    height: 16px;
  }
  #bundle_deliver{
    top: 580px;
    left: 1224px;
    width: 63px;
    height: 16px;
  }
}