#vat_number
  %fieldset
    %legend Modification of Vat number
    %div
      %h4
        Update vat number for <strong>{{current_organization_name}}</strong> to
      %div
        vat number of <strong>{{current_organization_name}}</strong> : {{current_vat_number}}
        <input id="current_vat_number" name="modified_vat_number" type="radio" checked="checked" value={{current_vat_number}} /> ( current )
      %div
        
        vat number of <strong>{{relation_organization_name}}</strong> : {{new_vat_number}}
        <input id="new_vat_number" name="modified_vat_number" type="radio" value={{new_vat_number}} /> ( new )