- if params[:pin_direction]
  $("#organization_wrapper_#{@organization.id}").html("#{j render 'member', organization: @organization, parent_organization: @parent_organization}");
  $("#org_members").html("#{j render 'members', organizations: @parent_organization.members, by: 'pin', parent_organization: @parent_organization}");

- elsif params[:search_members]
  $("#search_members").html("#{j render 'members', organizations: @organizations, by: '', parent_organization: @parent_organization}");

Tickets.remove_ajax_loader();