%html
  %head
    %style
      body {
      width: 100%;
      margin: 0;
      }
      .imager {
      background-repeat: no-repeat;
      width: 995px;
      margin: auto;
      padding-top: 170px;
      }
  %body
    = yield