%html
  %head
    = stylesheet_link_tag "workflow_diagram", :media => "all"
  %body#workflow_diagram
    #main_image
    #add_ticket
    #assign_ticket
    #pop_approval
    #resolution
    #edit_serial_no
    #approve_close_ticket
    #invoice_advance_payment
    #job_estimate
    #return_store_part
    #mark_delivered_colleted
    #approve_job_estimate
    #order_part
    #quality_control
    #extend_warranty
    #receive_Issue_part
    #customer_feedback
    #final_job_estimate
    #approve_store_part
    #return_manufacture_part
    #approve_foc
    #bundle_return_part
    #part_estimate
    #collect_part
    #approve_part_estimate
    #close_event
    #issue_customer_terminate
    #issue_store_part
    #bundle_deliver